html{
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    display: flex;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #3cc;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

img{
    vertical-align: middle;
    object-fit: cover;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.login__filldset{
    box-shadow: 0 0 3px 2px black;
    background-color: rgb(239, 247, 244);
}

.login__filldset{
    max-width: 350px;
    width: 100%;
    padding: 50px 30px;
}